### Secrets ###
secrets/

### Data Sets ###
/data/

### Jupyter Notebook ###
.ipynb_checkpoints
*.ipynb

### PyCharm ###
.idea/

### Python Byte-compiled / optimized / DLL files ###
__pycache__/
*.py[cod]
*$py.class
